.modal {
  bottom: 0;
  left: 0;
  position: absolute !important;
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
}

.modal:not(:target) {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
